<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav [opened]="!mobileQuery.matches" class="example-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
      <button class="close" mat-icon-button (click)="snav.toggle()"><mat-icon>close</mat-icon></button>
      <mat-selection-list [multiple]="false" class="selection-list">
        <span>Welcome Driver!</span>
        <mat-list-option class="example-nav-item" routerLink="." >Home</mat-list-option>
        <mat-list-option class="example-nav-item" routerLink="./profile">Profile</mat-list-option>
      </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="logout()" class="logout-btn">Logout</button>
      </mat-toolbar>
      <div class="content"
        [style.marginTop.px]="mobileQuery.matches ? 60 : 0">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>