<ng-container 
  *ngIf="myDrivers.length > 0; then found; else notFound">
</ng-container>

<ng-template #notFound>
  <h1>No drivers found.</h1>
</ng-template>

<ng-template #found>
  <mat-accordion *ngIf="myDrivers">
    <mat-expansion-panel class="expansion-panel" *ngFor="let driver of myDrivers; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 16px; font-weight: 500;">
          {{driver.name}}
        </mat-panel-title>
        <mat-panel-description>
          Driver Id: {{driver.driverId}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <p>Driver Age: {{driver.age}}</p>
      <p>Driver Mobile Number: {{driver.mobile}}</p>
      <p>Driver Truck Number: {{driver.truckNumber}}</p>
      <p>Driver Truck Capacity: {{driver.truckCapacity}} tonnes</p> -->
      <div class="others" *ngIf="driver.reqByDealer == 'sent' && driver.accByDriver == 'pending'" >
        <span>Request Pending, </span>
        <button mat-raised-button class="cancel-btn" (click)="removeRequest(driver.cartId, driver.driverId)">Cancel</button>
      </div>
      <div class="others" *ngIf="driver.reqByDealer == 'done' && driver.accByDriver == 'accepted'">
        <span>Booked!</span>
        <button mat-raised-button  class="cancel-btn" (click)="removeRequest(driver.cartId, driver.driverId)">Cancel</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>