.expansion-panel {
  margin-top: 10px;
}

mat-expansion-panel-header {
  min-height: 60px;
  height: max-content;
}

.others {
  display: flex;
  align-items: center;
}

.others > span {
  font-size: 15px;
  font-weight: 500;
  color: #212121;
}

.cancel-btn {
  background-color: #f52e2e;
  color: white;
  padding: 0px 20px;
  margin: 0px 15px;
  border: none;
  cursor: pointer;
}