<div class="head">
  <span class="header">Profile</span>
  <button mat-stroked-button class="edit-btn">
    <mat-icon>edit</mat-icon>
    Edit Profile
  </button>
</div>
<div class="items">
  <div matRipple class="item">
    <span>Name</span>
    <p>{{driver.name}}</p>
  </div>
  <div matRipple class="item">
    <span>Mobile Number</span>
    <p>{{driver.mobile}}</p>
  </div>
  <div matRipple class="item">
    <span>Email</span>
    <p>{{driver.email}}</p>
  </div>
  <div matRipple class="item">
    <span>Age</span>
    <p>{{driver.age}}</p>
  </div>
  <div matRipple class="item">
    <span>Truck Number</span>
    <p>{{driver.truckNumber}}</p>
  </div>
  <div matRipple class="item">
    <span>Transporter Name</span>
    <p>{{driver.transporterName}}</p>
  </div>
  <div matRipple class="item">
    <span>Driving Experience</span>
    <p>{{driver.drivingExperience}}</p>
  </div>
  <div matRipple class="item">
    <span>Route 1</span>
    <p>{{driver.route1}}</p>
  </div>
  <div matRipple class="item">
    <span>Route 2</span>
    <p>{{driver.route2}}</p>
  </div>
  <div matRipple class="item">
    <span>Route 3</span>
    <p>{{driver.route3}}</p>
  </div>
</div>