<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav [opened]="!mobileQuery.matches" class="example-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
      <button class="close" mat-icon-button (click)="snav.toggle()"><mat-icon>close</mat-icon></button>
      <mat-selection-list [multiple]="false">
        <mat-list-option class="example-nav-item" routerLink="." >Home</mat-list-option>
        <mat-list-option class="example-nav-item" routerLink="./my-drivers">My Drivers</mat-list-option>
        <mat-list-option class="example-nav-item" routerLink="./profile">Profile</mat-list-option>
      </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <div class="searchbox">
          <mat-icon>search</mat-icon>
          <input 
            type="search" 
            class="search-input" 
            [(ngModel)]="searchText" 
            (ngModelChange)="getDrivers(searchText)"
            placeholder="Search drivers by city..."
          />
        </div>
        <span class="example-spacer"></span>
        <button mat-raised-button (click)="logout()" class="logout-btn">Logout</button>
      </mat-toolbar>
      <ng-container
        *ngIf="searchText.length > 0; then search; else other"
      ></ng-container>
      <ng-template #search>
        <div *ngIf="showLoader">
          <app-loading></app-loading>
        </div>
        <div class="content"
        [style.marginTop.px]="mobileQuery.matches ? 60 : 0">
        <mat-accordion *ngIf="drivers">
          <mat-expansion-panel class="expansion-panel" *ngFor="let driver of drivers; index as i">
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 16px; font-weight: 500;">
                {{driver.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{driver.route1}}, {{driver.route2}}, {{driver.route3}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Driver Age: {{driver.age}}</p>
            <p>Driver Mobile Number: {{driver.mobile}}</p>
            <p>Driver Truck Number: {{driver.truckNumber}}</p>
            <p>Driver Truck Capacity: {{driver.truckCapacity}} tonnes</p>
            <button mat-raised-button *ngIf="driver.reqByDealer == 'none' && driver.accByDriver == 'none'" (click)="bookDriver(driver.id)" class="book-btn">Book</button>
            <div class="others" *ngIf="driver.reqByDealer == 'sent' && driver.accByDriver == 'pending'" >
              <span>Request Pending, </span>
              <button mat-raised-button class="cancel-btn" (click)="removeRequest(driver.cartId, driver.id)">Cancel</button>
            </div>
            <div class="others" *ngIf="driver.reqByDealer == 'done' && driver.accByDriver == 'accepted'">
              <span>Booked!</span>
              <button mat-raised-button  class="cancel-btn" (click)="removeRequest(driver.cartId, driver.id)">Cancel</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        </div>
      </ng-template>
      <ng-template #other>
        <div class="content"
        [style.marginTop.px]="mobileQuery.matches ? 60 : 0">
          <router-outlet></router-outlet>
        </div>
    </ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>