<div class="head">
  <span class="header">Profile</span>
  <button mat-stroked-button class="edit-btn">
    <mat-icon>edit</mat-icon>
    Edit Profile
  </button>
</div>
<div class="items">
  <div matRipple class="item">
    <span>Name</span>
    <p>{{dealer.name}}</p>
  </div>
  <div matRipple class="item">
    <span>Mobile Number</span>
    <p>{{dealer.mobile}}</p>
  </div>
  <div matRipple class="item">
    <span>Email</span>
    <p>{{dealer.email}}</p>
  </div>
  <div matRipple class="item">
    <span>City</span>
    <p>{{dealer.city}}</p>
  </div>
  <div matRipple class="item">
    <span>State</span>
    <p>{{dealer.state}}</p>
  </div>
  <div matRipple class="item">
    <span>Nature of Material</span>
    <p>{{dealer.natureOfMaterial}}</p>
  </div>
  <div matRipple class="item">
    <span>Weight of Material</span>
    <p>{{dealer.weightOfMaterial}}</p>
  </div>
  <div matRipple class="item">
    <span>Quantity</span>
    <p>{{dealer.quantity}}</p>
  </div>
</div>